* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  border-top: 10px solid #1098ad;
  position: relative;
}
/* ----------------- */
/* CSS Flexbox layout */

/* .general {
  width: 1200px;
  display: flex;
  align-items: flex-start;
  flex: 1  ;
  gap: 50px;
} */

/* ------------- */

/* CSS Grid layout */

.general {
  display: grid;
  grid-template-columns: 1fr 300px;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.article {
  grid-column: 1 / span 2;
}

.aside {
  grid-column: 2 / 3;
  align-self: stretch;
}


/* CSS Grid layout */
.container {
  /* margin: auto; */
  /* max-width: 825px; */
}

p {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  margin-left: 10px;
}

/* Header starts here */
.hero {
  background-color: #f7f7f7;
  margin-bottom: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 3vw;
}

.header {
  margin-bottom: 40px;
}

h1 {
  color: #1098ad;
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h2::after {
  content: "TOP";
  background-color: yellow;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -25px;
  right: -10px;
}

h2 {
  font-size: 35vw;
  color: #1098ad;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
  margin-top: 50px;
  position: relative;
}

.nav {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header p {
  margin-bottom: 30px;
  margin-top: 20px;
}

.authorspan {
  font-weight: bold;
}

/* Header section ends here. */

/* Main starts here */
h3 {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1098ad;
  margin-bottom: 40px;
}

h3 + p::first-letter {
  color: red;
}

.learn {
  margin-top: 30px;
}

h4 {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

li {
  font-size: 18px;
  font-family: serif;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0px;
}

.main p {
  margin: 10px;
}

/* Main ends here */

/* Aside starts here */
.related {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.related-author {
  font-weight: bold;
  list-style-type: none;
  margin-left: 0;
  color: #1098ad;
}

#related {
  color: #1098ad;
}

.aside {
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  background-color: #f7f7f7;
  padding: 50px 0;
  margin-top: 30px;
  height: 600px;
}

/* Aside ends here */

/* Footer starts here */
#copyright {
  color: rgb(100, 100, 36);
  font-family: serif;
  font-size: 26px;
  background-color: #f7f7f7;
}

/* Footer ends here */

a {
  color: #1098ad;
}

a:link {
  color: #1098ad;
}

a:hover {
  font-weight: bolder;
  font-size: 22px;
  text-decoration: underline dotted #1098ad;
}

a:visited {
  color: #1098ad;
}

a:active {
  background-color: black;
  font-style: italic;
}

ul, ol {
  margin-left: 40px;
  margin-top: 20px;
}

ol {
  margin-bottom: 10px;
}

ul {
  margin-bottom: 20px;
}

h2,
h3,
h4 {
  margin-left: 10px;
}

.like {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  bottom: 50px;
  right: 50px;
  width: 80px;
  height: 50px;
}

.related {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 0;
}

.related-author {
  font-size: 16px;
}

.related a:link {
  font-size: 20px;
}

.aside {
  max-width: 300px;
  /* height: 550px; */
  margin-top: 140px;
  margin-right: 50px;
}
