* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  border-top: 10px solid #1098ad;
}

.container {
  width: 900px;
  margin: auto;
}

p {
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  line-height: 1.5;
  margin-left: 10px;
}

/* Header starts here */
.hero {
  background-color: #f7f7f7;
  padding: 10px;
  margin-bottom: 10px;
}

.header {
  margin-bottom: 40px;
}

h1 {
  color: #1098ad;
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  color: #1098ad;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 20px;
}

.nav {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header p {
  margin-bottom: 30px;
  margin-top: 20px;
}

.authorspan {
  font-weight: bold;
}

/* Header section ends here. */

/* Main starts here */
h3 {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #1098ad;
  margin-bottom: 40px;
}

.learn {
  margin-top: 30px;
}

h4 {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

li {
  font-size: 18px;
  font-family: serif;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0px;
}

.main p {
  margin: 10px;
}

/* Main ends here */

/* Aside starts here */
.related {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

.related-author {
  font-weight: bold;
  list-style-type: none;
}

#related {
  color: #1098ad;
}

.aside {
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  background-color: #f7f7f7;
  padding: 50px 0;
  margin-top: 30px;
}

/* Aside ends here */

/* Footer starts here */
#copyright {
  color: rgb(100, 100, 36);
  font-family: serif;
  font-size: 20px;
  background-color: #f7f7f7;
}

/* Footer ends here */

a {
  color: #1098ad;
}

a:link {
  color: #1098ad;
}

a:hover {
  font-weight: bolder;
  font-size: 22px;
  text-decoration: underline dotted #1098ad;
}

a:visited {
  color: #1098ad;
}

a:active {
  background-color: black;
  font-style: italic;
}

ul, ol {
  margin-left: 40px;
  margin-top: 20px;
}

ol {
  margin-bottom: 10px;
}

ul {
  margin-bottom: 20px;
}

h2,
h3,
h4 {
  margin-left: 10px;
}
